body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
  
.answer {
  height: 600px;
  width: 600px;
  border: 1px black;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin: 10px;
}

  section {
    display: flex;
    justify-content: center;
    width: 500px;
    height: 500px;
  }

  .header {
    height: 10px;

  }
  
  .title {
    color: white;
    background-color: #6F7373;
    font-size: 15px;
  }

  div {
    width: 100px;
    height: 100px;
    background-color: black;
    color: white;
  }
  
  #challenge1 {
    display: flex;
    position: relative;
  }
  
  #challenge1 .div2 {
    position: absolute;
    right: 110px;
  }
  
  #challenge1 .div3 {
    position: absolute;
    right: 0;
  }
  
  #challenge2 .div2{
    margin-left: auto;
    margin-right: auto;
  }
  
  #challenge2 .div3{
    margin-left: auto
    /*float: right;*/
  }
  
  #challenge3 {
    position: relative;
    display: flex;
    justify-content: center;
  }
  
  #challenge3 .div1{
    width: 200px;
    height: 200px;
    background-color: #2C2C2E;
  }
  
  #challenge3 .div2{
    top: 50px;
    z-index: 1;
    position: absolute;
  }
  
  #challenge4 {
    position: relative;
    margin-bottom: 70px;
  }
  
  #challenge4 .div2{
    background-color: #2C2C2E;
    top: 50px;
    left: 50px;
    z-index: 1;
    position: absolute;
  }
  
  #challenge5 .div1{
    margin-left: auto;
  }
  
  #challenge5 .div2{
    margin: auto;
  }
  
  /*
  #challenge6 {
    display: flex;
    justify-content: flex-end;
  }
  
  #challenge6 .div1{
    position: absolute;
    background-color: #2C2C2E;
    width: 350px;
    height: 150px;
    transform: translateY(50%);
    right: 0;
  }
  
  #challenge6 .div3{
    position: absolute;
    transform: translateY(70%);
    right: 0;
  }
  */
  
  #challenge6 {
    display: flex
  }
  
  #challenge6 .div1{
    background-color: #2C2C2E;
    width: 350px;
    height: 150px;
    transform: translateY(50%)
    justify-content: flex-end;
  }
  
  