body {
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
    padding: 0;
}

button:hover {
    cursor: pointer;
}

#message-wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#intro-message {
    letter-spacing: 1rem;
    font-size: 3vh;
    padding-right: 1rem;
}
 
#q-mark {
    font-size: 1.5rem;
    color: white;
    position: fixed;
    left: calc(50% + 12rem);
}

#btns-box {
    position: absolute;
    bottom: 25vh;
    padding: 0;
    width: 30vw;
    display: flex;
    justify-content: space-between;
}

#btns-box button {
    background-color: transparent;
    border: none;
    font-size: 5vw;
    font-weight: 800;
    border-radius: 20px;
    padding: 3vh 5vh;
}

#btns-box #yes-btn {
    color: yellow;
    text-shadow: 0 0 15px yellow, 0 0 25px yellow;
    animation: glow 1.5s linear infinite;
}

#btns-box #yes-btn:hover {
    box-shadow: inset 0 0 2px rgba(255, 255, 255, 0.1),
    inset 4px 4px 6px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}   

#btns-box #no-btn {
    color: yellow;
    text-shadow: 0 0 15px yellow, 0 0 25px yellow;
    animation: glow 1.5s linear infinite;
}

#btns-box #no-btn:hover {
    box-shadow: inset 0 0 2px rgba(255, 255, 255, 0.1),
    inset 4px 4px 6px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

@keyframes glow {
    0% {
      filter: hue-rotate(0deg);
    }
    100% {
      filter: hue-rotate(360deg);
    }
}

.login-signup-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
}

.login-signup-box {
    position: relative;
    padding: 10vw;
    width: 30vw;
    height: 40vh;
    box-shadow: inset 0 0 2px rgba(255, 255, 255, 0.1),
    inset 4px 4px 6px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: rgba(63,94,251,1);
}

.login-signup-box input {
    width: 25vw;
    margin: 10px 10px 0;
    padding: 10px 5px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1rem;
    border: none;
}

.login-signup-box .title {
    width: inherit;
    margin: 10px 0;
    color: blanchedalmond;
    letter-spacing: 0.5rem;
    text-align: center;
    line-height: 2rem;
    font-size: 3vw;
}

.login-signup-box button {
    border: none;
    font-family: 'Josefin Sans', sans-serif;
    background-color: blanchedalmond;
}

.login-signup-box .show-pass {
    margin-top: 5px;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 1vw;
    color: grey;
}

.login-signup-box #login-btn {
    margin: 50px 10px 0;
    padding: 20px 20px 15px;
    font-size: 3vw;
    border-radius: 20px;
    color: rgb(59, 33, 33);
}

.login-signup-box #signup-btn {
    margin: 50px 10px 0;
    padding: 20px 20px 15px;
    font-size: 3vw;
    border-radius: 20px;
    color: rgb(59, 33, 33);
}
